# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go
bin/
dist/
*.exe
*.test
vendor/
go.work

# IDEs
.idea/
.vscode/
*.swp
*.swo
